.book-container {
    height: 480px;
    background-color: var(--bs-main-7);
}
.book-title > div:nth-child(1) {
    color: var(--bs-main-9);
}
.book-title > div:nth-child(2) {
    color: var(--bs-black-90);
}

.book {
    display: flex;
    justify-content: center;
    column-gap: 4vw;
}
.book-info-container {
    width: fit-content;
}
.book-img {
    width: 200px;
    height: 290px;
}
.book-text-info {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-text-info > div:nth-child(1) {
    font-weight: var(--bs-font-bold);
    font-size: var(--bs-font-12px);
}
.book-text-info > div:nth-child(2) {
    font-size: var(--bs-font-10px);
}
