.select-div{
    width: 100%;
    height:600px;
    background-color: var(--bs-main-6);
}
.select-title{
    padding-top: 60px;
}
.line-div{
    width:40%;
    height:3px;
    margin-top: 15px;
    background-color: var(--bs-main-1);
    /* display: inline; */
    z-index: 1;
}
#line-div-1{
    float:left;
}
#line-div-2 {
    float:right;
}
.select-title-text{
    width:20%;
    float: left;
    text-align: center;
}
.select-eng-text{
    font-size: 18px;
    color: var(--bs-main-9);
}
.select-han-text{
    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
}



.select-genre-div-parent{
    width:100%;
    height:540px;
    position:relative;
    /* margin-top:140px; */
}
.select-genre-div{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; /* 줄바꿈 방지 */
}

.genre-div{
    width:200px;
    height: 250px;
    display: inline-block;
}
.select-genre-div>.genre-div{
    margin: 0 2vw 0 2vw;

}
.genre-div-1{
    width:198px;
    height:168px;
    border-radius: 100px;
    /* background-color: aqua; */
    border: 0.5px solid var(--bs-black-60);
    position: absolute;
    padding-top: 80px;
}
.genre-div-2{
    width:200px;
    height:100px;
    background-color: var(--bs-main-4);
    position: relative;
    top:150px;
}
.genre-text{
    padding-top: 24px;
    text-align: center;
}
.genre-text-1{
    font-size: 23px;
    font-weight:bold;
}
.genre-text-2{
    font-size: 12px;
    padding-top: 13px;
    font-weight:normal;
}