.genre-conatainer {
    height: 280px;
    background-color: var(--bs-white);
    position: relative;
}
.genre-img-container {
    position: absolute;
    z-index: 100;
    border-radius: 0 0 200px 200px;
    width: 365px;
    height: 325px;
    right: 4vw;
    background-size: cover !important;
}

.genre-text-container {
    display: flex;
    margin-left: 6vw;
    text-align: center;
    align-items: center;
    height: 280px;
}
.genre-hashTag {
    font-size: var(--bs-font-12px);
}
.genre-title {
    font-size: var(--bs-font-22px);
    font-weight: var(--bs-font-bold);
    margin-top: 8px;
    margin-bottom: 16px;
}
.genre-content {
    font-size: var(--bs-font-14px);
    line-height: 1.6; 
}

.audio-player-div {
    display: inline-block;
    border: 0.5px solid var(--bs-black-80);
    margin-top: 16px;
    padding: 15px 15px;
    border-radius: 100%;
}
.audio-player-div > img {
    filter: invert(28%) sepia(0%) saturate(0%) hue-rotate(195deg) brightness(98%) contrast(88%);
}